*{
    margin: 0;
    padding: 0;
}

.background{
    background-image: url(https://img.freepik.com/free-vector/cartoon-forest-landscape-endless-nature-background-computer-games-nature-tree-outdoor-plant-green-natural-environment-wood_1284-41524.jpg?size=626&ext=jpg);
    background-size: cover;
    height: 768px;
    width: 1366px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;  
    align-content: center;
    align-items: center;
    
   
}

header{
    height: 130px;
    width: 700px;
    font-size: 100px;
    font-style: italic;
    font-weight:lighter;
    position: fixed;
    top: 80px;
    text-align: center;
    text-transform: capitalize;
    color: rgb(54, 23, 23);
    background-color: rgba(11, 109, 11, 0.548);
    border: 12px solid rgb(0, 0, 0);
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;

}

a{
    height: 50px;
    width: 470px;
    padding-top: 20px;
    font-size: x-large;
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 5px solid black;
    border-radius: 45px;
    background-color: rgba(70, 202, 70, 0.459);
    position: fixed;
    bottom: 115px;
    cursor: pointer;
    
}

a:hover{
    transform: scale(1.1);
}

.heading{
    height: 110px;
    width: 1342px;
    font-size: 95px;
    font-style: italic;
    font-weight:lighter;
    position: fixed;
    top: 0px;
    text-align: center;
    text-transform: capitalize;
    color: rgb(54, 23, 23);
    background-color: rgba(11, 109, 11, 0.363);
    border: 12px solid rgb(0, 0, 0);
}

.container1{
    height: 629px;
    width: 1060px;
    background-color: rgba(255, 255, 255, 0.322);
    border: 4px black solid;
    position: fixed;
    top: 131px;
    right: 0px;
    
}
.container2{
    height: 629px;
    width: 231px;
    background-color: rgba(255, 255, 255, 0.322);
    border: 4px black solid;
    position: fixed;
    top: 131px;
    left: 0px;
}